Repository abstractoperators/concrete: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, update-last-edited

mypy:
  name: mypy
  entry: ./run-mypy
  language: python
  language_version: python3.11
  additional_dependencies:
  - mypy==1.11.2
  require_serial: true
  verbose: true

update-last-edited:
  name: Update Last Edited Timestamp
  entry: uv run python scripts/update_last_edited.py
  language: python
  stages:
  - pre-commit

extra adds to agentserver page
  webapp/homepage/static/css/abop.css
  webapp/homepage/templates/pages/agentserver.html
Due: none

Update tool-use prompt to be appended to system prompt (from being appended to query). Update tool invocation response to be appended to original query (from being prepended)
  src/concrete-core/concrete/abstract.py
  webapp/daemons/server.py
Due: mypy

title updates, trying an original name lol
  webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/agentserver.html
  webapp/homepage/templates/pages/concrete.html
Due: none

Update prompts on jaime
  webapp/daemons/server.py
Due: mypy

Update README.md with env variables
  webapp/daemons/README.md
Due: update-last-edited

Search and replace daemons -> agentserver
  .github/workflows/deploy_to_prod.yml
  .github/workflows/deploy_to_staging.yml
  Makefile
  docker/Dockerfile.agentserver
  docker/docker-compose.yml
  tests/test_agentserver.py
  uv.lock
  webapp/agentserver/README.md
  webapp/agentserver/__init__.py
  webapp/agentserver/logging.py
  webapp/agentserver/pyproject.toml
  webapp/agentserver/scripts/start.sh
  webapp/agentserver/server.py
  webapp/agentserver/static/css/style.css
  webapp/agentserver/templates/index.html
  webapp/docs/config/mkdocs.yml
  webapp/docs/docs/learn/concepts/index.md
Due: mypy, update-last-edited

Add a create_operator_helper function. Update Jaime to use create_operator_helper instead of create_operator
  webapp/agentserver/server.py
Due: mypy

Create a test for creating an operator
  tests/test_agentserver.py
Due: mypy

Update update_operator to use a helper function. Update Slack Persona update_instructions to more tightly couple in with update_operator. Create a test function for updating operators.
  tests/test_agentserver.py
  webapp/agentserver/server.py
Due: mypy

Update mock_operator fixture to teardown if necessary
  tests/test_agentserver.py
Due: mypy

Update index.md with grammar
  webapp/docs/docs/learn/concepts/index.md
Due: update-last-edited

Drop comment about why there's a time check in verify_slack_request
  src/concrete-core/concrete/webutils.py
Due: mypy

Make Operators on Daemon server accessible via Slack and via API (Turn Daemons -> AgentServer) (#208)
  .github/workflows/deploy_to_prod.yml
  .github/workflows/deploy_to_staging.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  docker/Dockerfile.agentserver
  docker/Dockerfile.alembic
  docker/docker-compose.yml
  migrations/env.py
  migrations/versions/1c319faf3339_add_log_table.py
  mypy.ini
  scripts/run-mypy
  src/concrete-async/concrete_async/__init__.py
  src/concrete-core/concrete/__init__.py
  src/concrete-core/concrete/abstract.py
  src/concrete-core/concrete/clients/openai.py
  src/concrete-core/concrete/telemetry/exporter.py
  src/concrete-core/concrete/telemetry/otel.py
  src/concrete-core/concrete/utils.py
  src/concrete-core/concrete/webutils.py
  src/concrete-db/concrete_db/orm/models.py
  tests/test_agentserver.py
  uv.lock
  webapp/agentserver/README.md
  webapp/agentserver/__init__.py
  webapp/agentserver/logging.py
  webapp/agentserver/pyproject.toml
  webapp/agentserver/scripts/start.sh
  webapp/agentserver/server.py
  webapp/agentserver/static/css/style.css
  webapp/agentserver/templates/index.html
  webapp/api/__init__.py
  webapp/daemons/README.md
  webapp/daemons/server.py
  webapp/docs/config/mkdocs.yml
  webapp/docs/docs/learn/concepts/index.md
  webapp/homepage/__init__.py
  webapp/webapp-common/webapp_common/logger.py
Due: mypy, update-last-edited

Add env variables to deploy agentserver
  .github/workflows/deploy_to_prod.yml
Due: none

Add otel to dependencies required by agentserver. Add auth extra to concrete-core dependency
  uv.lock
  webapp/agentserver/pyproject.toml
Due: none

Update start script to start from webapp/ so that relative imports work.
  docker/Dockerfile.agentserver
  webapp/agentserver/scripts/start.sh
Due: none

Addd env var TRACE_ENABLED=true
  .github/workflows/deploy_to_prod.yml
Due: none

Update README with extra env vars
  webapp/agentserver/README.md
Due: update-last-edited

Update env vars
  .github/workflows/deploy_to_prod.yml
Due: none

Update tool invocations to not hang forever if the tool returns nothing
  src/concrete-core/concrete/abstract.py
Due: mypy

Update webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/about.html
Due: none

Offload log crud into concrete_db. Fix /logs endpoint to not use server.log and instead use db
  src/concrete-db/concrete_db/crud.py
  webapp/agentserver/logging.py
  webapp/agentserver/server.py
Due: mypy

Update logs to not include potentially sensitive information (well, less at least)
  webapp/webapp-common/webapp_common/logger.py
Due: mypy

Add more specific instructions for interacting in slack
  webapp/agentserver/server.py
Due: mypy

collapsible navbar
  webapp/homepage/static/css/abop.css
  webapp/homepage/static/icons/bars.svg
  webapp/homepage/templates/components/header.html
  webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/agentserver.html
  webapp/homepage/templates/pages/concrete.html
  webapp/homepage/templates/pages/index.html
Due: none

Update prod deployments to persist env vars across steps using $GITHUB_ENV
  .github/workflows/deploy_to_prod.yml
Due: none

Update staging workflows with this env persistence.
  .github/workflows/deploy_to_staging.yml
Due: none

Add this branch to deploy to staging
  .github/workflows/deploy_to_staging.yml
Due: none

Remove this branch from deploy to staging
  .github/workflows/deploy_to_staging.yml
Due: none

Change order of env vars in deploy_to_prod as a sanity check
  .github/workflows/deploy_to_prod.yml
Due: none

redo mobile navbar
  webapp/homepage/static/css/abop.css
  webapp/homepage/static/icons/xmark.svg
  webapp/homepage/templates/pages/agentserver.html
  webapp/homepage/templates/pages/concrete.html
Due: none

set header to fixed
  webapp/homepage/static/css/abop.css
  webapp/homepage/templates/pages/about.html
Due: none

Fix homepage subdomain (homepage -> www) (#211)
  .github/workflows/deploy_to_prod.yml
  .github/workflows/deploy_to_staging.yml
Due: none

Fix typo in default values of ArxivTool.search
  src/concrete-core/concrete/tools/arxiv.py
Due: mypy

Remove tool retry. Make more tool error catching more generic. Improve tool prompting.
  src/concrete-core/concrete/abstract.py
Due: mypy

Clearer TODOs
  src/concrete-core/concrete/abstract.py
Due: mypy

Add retry_ct back
  src/concrete-core/concrete/abstract.py
Due: mypy

Add tool invocation history
  src/concrete-core/concrete/abstract.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  update-last-edited: any of: \.(md|markdown|mdown)$
