Repository abstractoperators/concrete: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, update-last-edited

.pre-commit-config.yaml:

minimum_pre_commit_version: "2.16.0"
repos:
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: [--max-line-length=120, --ignore=W293]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args: [--skip-string-normalization, --line-length=120]
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Adapted from https://jaredkhan.com/blog/mypy-pre-commit
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: "./run-mypy"
        language: python
        language_version: python3.11
        additional_dependencies: ["mypy==1.11.2"] # Matches mypy version in uv.lock
        types: [python] #
        require_serial: true
        verbose: true

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.0
    hooks:
      - id: bandit
        exclude: ^tests/
        args:
          - -s
          - B101,B601

  - repo: local
    hooks:
      - id: update-last-edited
        name: Update Last Edited Timestamp
        entry: uv run python scripts/update_last_edited.py
        language: python
        types: [markdown]
        stages: [pre-commit]

Fix typo in ArxivTool
  src/concrete-core/concrete/abstract.py
  src/concrete-core/concrete/tools/arxiv.py
Due: mypy

swap out sans-serif font from kantumruy pro to raleway, started FAQ section of aboutus
  webapp/homepage/static/css/abop.css
  webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/agentserver.html
  webapp/homepage/templates/pages/concrete.html
  webapp/homepage/templates/pages/index.html
Due: none

Catch Tool Errors. Improve tool prompting. (#212)
  src/concrete-core/concrete/abstract.py
  src/concrete-core/concrete/tools/arxiv.py
Due: mypy

Fix agentserver prod deployment (#210)
  .github/workflows/deploy_to_prod.yml
  docker/Dockerfile.agentserver
  src/concrete-db/concrete_db/crud.py
  uv.lock
  webapp/agentserver/README.md
  webapp/agentserver/logging.py
  webapp/agentserver/pyproject.toml
  webapp/agentserver/scripts/start.sh
  webapp/agentserver/server.py
  webapp/webapp-common/webapp_common/logger.py
Due: mypy, update-last-edited

temp faq until i have time to come back to this
  webapp/homepage/static/css/abop.css
  webapp/homepage/templates/pages/about.html
Due: none

Marketing pages for concrete and agentserver (#209)
  webapp/homepage/server.py
  webapp/homepage/static/css/abop.css
  webapp/homepage/static/dance-propic.jpeg
  webapp/homepage/static/icons/bars.svg
  webapp/homepage/static/icons/xmark.svg
  webapp/homepage/static/slightsmile-crossedarms.jpg
  webapp/homepage/static/swole-propic.jpeg
  webapp/homepage/templates/components/header.html
  webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/agentserver.html
  webapp/homepage/templates/pages/concrete.html
Due: mypy

Update _new_listener_rule to skip default listener rule.
  src/concrete-core/concrete/tools/aws.py
Due: mypy

Fix indent in deploy_to_prod
  .github/workflows/deploy_to_prod.yml
Due: none

Michael/fix default listener prio (#213)
  .github/workflows/deploy_to_prod.yml
  src/concrete-core/concrete/tools/aws.py
Due: mypy

fixed some mobile issues
  webapp/homepage/static/css/abop.css
  webapp/homepage/templates/components/header.html
  webapp/homepage/templates/pages/about.html
Due: none

remove font awesome links from homepage
  webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/agentserver.html
  webapp/homepage/templates/pages/concrete.html
  webapp/homepage/templates/pages/index.html
Due: none

slight padding/sizing changes
  webapp/homepage/static/css/abop.css
  webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/concrete.html
  webapp/homepage/templates/pages/index.html
Due: none

Homepage Mobile Viewing Improvements (#214)
  webapp/homepage/static/css/abop.css
  webapp/homepage/templates/components/header.html
  webapp/homepage/templates/pages/about.html
  webapp/homepage/templates/pages/agentserver.html
  webapp/homepage/templates/pages/concrete.html
  webapp/homepage/templates/pages/index.html
Due: none

Add doc string for helper function
  scripts/update_last_edited.py
Due: mypy

Add more info to README
  README.md
Due: update-last-edited

only run tests on python file changes
  .github/workflows/test.yml
Due: none
